/* body { */
/* /* 	background-color: #eee */ */
/* } */

.buttons {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center
}

.cart-button {
	position: relative;
	outline: 0;
	background-color: #444444;
	color: #fff;
	border: none;
	height: 30px;
	width: 100px;
	padding: 10px;
/*	border-radius: 10px;*/
	line-height: 0px;
	overflow: hidden;
	cursor: pointer
}

.cart-button:focus {
	outline: none !important
}

.cart-button .fa-shopping-cart {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -20%;
	font-size: 1.8em;
	transform: translate(-50%, -50%)
}

.cart-button .fa-square {
	position: absolute;
	z-index: 1;
	top: -20%;
	left: 53%;
	font-size: 0.8em;
	transform: translate(-50%, -50%)
}

.cart-button span {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #fff;
	transform: translate(-50%, -50%)
}

.cart-button span.added {
	opacity: 0
}

.cart-button.clicked .fa-shopping-cart {
	animation: cart 2s ease-in forwards
}

.cart-button.clicked .fa-square {
	animation: box 2s ease-in forwards
}

.cart-button.clicked span.add-to-cart {
	animation: addcart 2s ease-in forwards
}

.cart-button.clicked span.added {
	animation: added 2s ease-in forwards
}

.cart {
  position: fixed;
/*   top: 20px; */
  right: 20px;
  width: 50px;
  height: 50px;
  background: #292d48;
  display: flex;
  align-items: center;
  justify-content: center;
/*  border-radius: 5px;*/
}
.cart i {
  font-size: 25px;
  color: white;
}
.cart:before {
  content: attr(data-totalitems);
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  top: -12px;
  right: -12px;
  background: #A6192E;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px;
}
.cart.shake {
  animation: shakeCart .4s ease-in-out forwards;
}

@keyframes shakeCart {
  25% {
    transform:translateX(6px)
  }
  50% {
    transform:translateX(-4px);
  }
  75% {
    transform:translateX(2px);
  }
  100% {
    transform:translateX(0);
  }
}

@keyframes cart { 0%{
	left: -10%
}

40%
,
60%
{
left
:
50%
}
100%
{
left
:
110%
}
}
@keyframes box { 0%, 40%{
	top: -20%
}

60%
{
top
:
36%;
left
:
53%
}
100%
{
top
:
40%;
left
:
112%
}
}
@keyframes addcart { 0%, 30%{
	opacity: 1
}

30%
,
100%
{
opacity
:
0
}
}
@keyframes added { 0%, 80%{
	opacity: 0
}
100%
{
opacity : 1
}
}